*, *::before, *::after { box-sizing: border-box; }
body { margin: 0; min-height: 100vh; line-height: 1.5; font-family: Arial, Helvetica, sans-serif;}
img, picture, video { max-width: 100%; display: block; }

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
    width: 100vw;
    height: fit-content;
    display: flex;
    gap: 20px;
    justify-content: flex-start;
}

nav button{
    margin: 0;
    padding: 5px;
    gap: 40px;
    font-size: large;
    font-weight: bold;
    background-color: white;
    color: black;
    border: none;
}

nav button.active{
    border-bottom: 2px solid black;
}

.page{
    margin: 20px;
    display: none;
}

.aktif{
    margin: 20px;
    display: block;
}
